header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #2C45DF;
  z-index: 1;
}

nav {
  padding: 0 80px;
  box-sizing: border-box;
}

.myName {
  text-align: center;
  color: #fff;
  font-weight: bolder;
  line-height: 80px;
}

#menu {
  position: fixed;
  top: 50%;
  left: 26px;
  z-index: 2;
  cursor: pointer;
}

#menu>span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
}

#menu>span:nth-child(2) {
  margin: 6px 0;
}

#menuBtn {
  width: 100px;
  height: 100px;
  background-color: #222;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  line-height: 100px;
  position: absolute;
  left: 80px;
  top: 50%;
  display: none;
}

#menuBtn.active {
  display: none;
}



#menu.active {
  display: block;
}

.menu-bgBlack {
  width: calc(100% - 160px);
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 200px 180px;
  box-sizing: border-box;
  z-index: 10;
  position: fixed;
  top: 80px;
}

.closeBox {
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 43%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.closeBox h4 {
  margin-bottom: 5px;
  margin-top: 20px;
}

.showMenu h1 {
  color: #fff;
  font-weight: 800;
  cursor: pointer;

}

.showMenu h1:hover {
  color: #01D5AF;
}

@media (max-width:1200px) {
  header {
    height: 70px;
  }

  .myName {
    line-height: 70px;
  }


  #menu {
    left: 21px;
  }
}