.index-page {
  width: 100%;
  border: 80px solid #2C45DF;
  border-top: none;
  box-sizing: border-box;
  border-bottom: none;
  color: #222;
  margin-top: 80px;
}

h1 {
  font-size: 70px;
  font-weight: 400;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  line-height: 25px;
}

section {
  width: 80%;
  max-width: 1400px;
  padding: 200px 0;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

section.contactMe-section {
  border-bottom: none;
  padding: 200px 0 0;
}

.blue {
  color: #2C45DF;
}

.bold {
  font-weight: 800;
}

.index-page h1.bold {
  font-weight: 800;
}

.backBlue {
  display: inline-block;
  background-color: #2C45DF;
  color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}

.circle-wrap {
  position: relative;
  z-index: 1;
}

.circle-wrap .mint-circle {
  width: 200px;
  height: 400px;
  background-color: #01D5AF;
  border-radius: 0px 200px 200px 0px;
  position: absolute;
  left: -80px;
  top: -200px;
}



/* intro-section 시작 */




.intro-section {
  display: flex;
  align-items: center;
}

.intro-section .bg-circle {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;

}

.intro-section .mint-circle {
  width: 125px;
  height: 125px;
  background-color: #01D5AF;
  border-radius: 100%;
}

.intro-section .orange-circle {
  width: 350px;
  height: 700px;
  background-color: #FF783E;
  border-radius: 350px 0 0 350px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.intro-section .orange-circle h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* profile-section 시작 */


.profile-section {
  display: flex;
  justify-content: space-between;

}

.photo {
  display: inline-block;
  width: 370px;
  height: 400px;
  background-color: #eee;
  position: relative;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile-txt {
  width: 360px;
  height: 360px;
  text-align: center;
  background-color: #2C45DF;
  border-radius: 100%;
  position: relative;
  position: absolute;
  right: -230px;
  bottom: -280px;
}

.profile-txt h3 {
  width: 80%;
  color: #fff;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutMe {
  width: 40%;
}

.aboutMe>div {
  margin-bottom: 50px;
}

.skils img {
  width: calc(20% - 30px);
  margin: 10px;
}

.resume-button {
  width: 200px;
  height: 45px;
  background-color: #E6E6E6;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.resume-button:hover {
  background-color: #01D5AF;
  /* color: #fff; */
}

.bg-black {
  width: calc(100% - 160px);
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-sizing: border-box;
  position: fixed;
  text-align: center;
  top: 80px;
  z-index: 10;
  overflow-y: scroll;
}

.page-bg {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.page-bg .close {
  float: right;
}

.resume {
  width: 80%;
  margin: 50px 0 100px;
}

.bg-black::-webkit-scrollbar {
  width: 7px;
}

.bg-black::-webkit-scrollbar-thumb {
  height: 20%;
  background: #222;
  border-radius: 10px;
}

.bg-black::-webkit-scrollbar-track {
  background: #22222277;
}

.downloadBtn {
  width: 200px;
  height: 45px;
  background-color: #2C45DF;
  /* border: 3px solid #2C45DF; */
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  line-height: 45px;
  margin: 50px 0;
}


/* project-section 시작 */
.project-section h1 {
  margin-bottom: 50px;
}



.project-wrap {
  display: flex;
  justify-content: space-between;
}

.tabList-wrap {
  width: 18%;
}

.listBtn {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.tabBtn {
  width: 35px;
  height: 15px;
  border-radius: 10px;
  background-color: #eee;
  display: inline-block;
  margin-right: 10px;
}

.contents-wrap {
  width: 80%;
  background-color: #eee;
  position: relative;
}

.contents {
  display: none;
}

.tabBtn.active {
  background-color: #FF783E;
}

.contents.active {
  display: block;
}


.antra {
  background-image: url(../img/pro1.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  background-position: center;
}

.seoulTakju {
  background-image: url(../img/pro2.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  background-position: center;
}

.seoulTakju .bori {
  width: 200px;
  opacity: 0.5;
  position: absolute;
  bottom: 50px;
  left: 135px;
}



.projectTitle {
  position: absolute;
  top: 50px;
  left: 80px;
}

.projectTitle h3 {
  margin-bottom: 10px;
}

.more {
  width: 140px;
  height: 40px;
  border: 1px solid #555;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.more:hover {
  background-color: #222;
  color: #fff;
}

.projectBg {
  width: calc(100% - 160px);
  height: 95vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 100px;
  box-sizing: border-box;
  position: fixed;
  top: 80px;
  z-index: 10;
  margin: 0 auto;
  overflow-y: scroll;
}

.projectBg .closeBtn {
  position: fixed;
  right: 150px;
  top: 150px;

}

.Popup {
  width: 100%;
  text-align: center;
}

.Popup img {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.projectBg::-webkit-scrollbar {
  width: 7px;
}

.projectBg::-webkit-scrollbar-thumb {
  height: 20%;
  background: #222;
  border-radius: 10px;
}

.projectBg::-webkit-scrollbar-track {
  background: #22222277;
}






/* clawling-section 시작 */

.clawling-section h1 {
  margin-bottom: 50px;
}

.clawling-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #eee;
  padding: 20px;
}

#vueper-slide {
  background-color: #2C45DF;
}

.slide-wrap {
  width: 80%;
  max-width: 1200px;
  color: #eee;
}


.item {
  padding: 200px 0;
  box-sizing: border-box;
  opacity: 0.7;
  transition: .4s ease-in-out;
  transform: scale(0.9);
}

.slide-wrap .item {
  background: #222;
}








/* contactMe-section 시작 */

.contactMe-section {
  text-align: center;
}

.contact-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contact-wrap>div {
  width: calc(32% - 10px);
  background-color: #fff;
  height: 170px;
  border-radius: 90px;
  position: relative;
}

.mail {
  border: 5px solid #FF783E;
}

.mobile {
  border: 5px solid #2C45DF;
}

.insta {
  border: 5px solid #01D5AF;
}

.contact-wrap span {
  display: inline-block;
  box-sizing: border-box;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  line-height: 150px;
  color: #fff;
  border: 10px solid #fff;
}

.mail span {
  background-color: #FF783E;
}

.mobile span {
  background-color: #2C45DF;
}

.insta span {
  background-color: #01D5AF;
}




/* footer  */

footer {
  overflow: hidden;
}

.pcg-logoWrap {
  width: 100%;
  border-bottom: 80px solid #2C45DF;
}

.footer-circle {
  width: 700px;
  height: 400px;
  background-color: #2C45DF;
  border-radius: 650px 650px 0 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  position: relative;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-circle img {
  width: 30%;
  margin-top: 50px;
}