.about-section {
    width: 100%;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
}

.about-wrap>div {
    flex: 1;
}

.emoticon>img {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}

.left-keyword {
    position: relative;
    top: -50px;
}

.right-keyword {
    position: relative;
}

.about-wrap span {
    display: block;
    padding: 0 25px;
    background-color: #fff;
    font-size: 37px;
    color: rgba(34, 34, 34, 0.50);
    text-align: center;
    font-weight: 900;
    border-radius: 50px;
    position: absolute;
}

.left-keyword>span:nth-child(1) {
    left: 200px;
}

.left-keyword>span:nth-child(2) {
    top: 100px;
    left: 300px;
}

.left-keyword>span:nth-child(3) {
    top: 200px;
    left: 100px;
}

.right-keyword>span:nth-child(1) {
    right: 150px;
}

.right-keyword>span:nth-child(2) {
    top: 100px;
    right: 300px;
}

.about-section>div>h2 {
    text-align: center;
    margin: 20px 0 50px;
}

.about-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
}

.aboutText {
    padding: 25px;
    box-sizing: border-box;
}

.about-box>div h4 {
    display: inline-block;
    text-align: center;
    background-color: #eee;
    border-radius: 25px;
    padding: 10px 20px;
}

.skils .skil h4 {
    display: block;
    background-color: transparent;
    color: #fff;
}

.edu>h4 {
    margin-top: 25px;
}

.aboutText p {
    margin-bottom: 10px;
    margin-left: 15px;
    color: #555;
}

.skils {
    width: 70%;
    background-color: #2C45DF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

.skil {
    display: flex;
    justify-content: space-between;
}

.skilBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skilBox>div {
    display: flex;
    justify-content: space-around;
}

.skilBox span {
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    font-size: 15px;
    color: #2C45DF;
    border-radius: 50px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-weight: 900;
}

.skilImg {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.skilImg p {
    color: #fff;
    line-height: 140%;
    font-weight: 300;
}

.skilBox img {
    width: 12%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.buttonWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.button {
    width: 200px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20PX;
    text-align: center;
    font-weight: 700;
    background-color: #222;
    line-height: 45px;
    color: #fff;
}

.button A {
    color: #fff;
    line-height: normal;
}

.bg-black {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    box-sizing: border-box;
    position: fixed;
    text-align: center;
    top: 0px;
    z-index: 10;
    overflow-y: scroll;
}

.page-bg {
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.page-bg .close {
    float: right;
    cursor: pointer;
}

.resume {
    width: 80%;
    margin: 50px 0 100px;
}

.bg-black::-webkit-scrollbar {
    width: 7px;
}

.bg-black::-webkit-scrollbar-thumb {
    height: 20%;
    background: #222;
    border-radius: 10px;
}

.bg-black::-webkit-scrollbar-track {
    background: #22222277;
}

.downloadBtn {
    width: 200px;
    height: 45px;
    background-color: #2C45DF;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    line-height: 45px;
    margin: 50px 0;
}