


/* project-section 시작 */
.project-section h1 {
  margin-bottom: 50px;
}



.project-section>div{
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(218, 218, 218, 0.25);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.projectTitle{
  width: 30%;
}

.projectTitle h3 {
  font-size: 15px;
  margin: 15px 0;
  opacity: 0.5;
}



.projectPhoto{
  width: 68%;
}

.anthra .projectPhoto{
  background: url(../../img/pro1.jpg);
  padding-top: 40%;
}
.seoulTakju .projectPhoto{
  background: url(../../img/pro2.jpg);
  padding-top: 40%;
}
.seomun .projectPhoto{
  background: url(../../img/pro3.jpg);
  padding-top: 40%;
}


.projectBtn {
  display: flex;
}

.more {
  width: 120px;
  height: 40px;
  background-color: #222;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  margin-top: 30px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}

.more a {
  color: #fff;
}

.more:hover {
  font-weight: bold;
} 

.more:hover>a {
  font-weight: bold;
} 





.projectBg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  padding: 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  z-index: 10;
  margin: 0 auto;
  overflow-y: scroll;
}

.projectBg .closeBtn {
  position: fixed;
  right: 150px;
  top: 100px;
  cursor: pointer;
}

.Popup {
  width: 100%;
  text-align: center;
}

.Popup img {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.projectBg::-webkit-scrollbar {
  width: 7px;
}

.projectBg::-webkit-scrollbar-thumb {
  height: 20%;
  background: #222;
  border-radius: 10px;
}

.projectBg::-webkit-scrollbar-track {
  background: #22222277;
}

