/* clawling-section 시작 */

.clawling-section h1 {
  margin-bottom: 50px;
}

.slideWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.content {
  height: 400px;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.content a {
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 800;
  color: #fff;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: center;
  line-height: 40px;
}

.content a:hover {
  background-color: #2C45DF;
  border: none;
}


.mySwiper {
  /* max-width: 1200px; */
  height: 800px;
  margin-top: -140px;
}

.swiper-slide-active {
  height: 500px;
  transition: all 0.3s ease-in-out;
  border: 20px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(218, 218, 218, 0.25);
}

.swiper {
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-button-prev,
.swiper-button-next {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #2C45DF;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center center;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.swiper-button-prev {
  background-image: url(../../img/pre.png);
}

.swiper-button-next {
  background-image: url(../../img/next.png);
  left: 70px;
}

.green {
  background-image: url(../../img/web1.jpg);
}

.dosirak {
  background-image: url(../../img/web2.jpg);
}

.richmond {
  background-image: url(../../img/web3.jpg);
}

